.Announcement {
  padding: 17px 20px;
  border: 1px solid var(--gray);
  border-radius: 15px;
  margin: 20px;
}
.Announcement--img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Announcement--img picture {
  position: relative;
}
.Announcement--img picture span {
  background-image: url(../assetsReact/plus.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 41px;
  height: 40px;
  background-size: contain;
  background-position: center;
  right: -10px;
  top: 4px;
  z-index: -1;
}
.Announcement--img p span,
.Announcement--img p {
  font-size: var(--px22);
  text-align: center;
}
.Announcement--img p span {
  color: var(--red-1);
}
.Announcement--info {
  font-size: var(--px14);
  text-align: center;
}

@media (max-width: 500px) {
  .Announcement--img {
    flex-wrap: wrap;
  }
}
