.field {
  background-color: white;
  padding: 24px 20px;
  border: 1px solid var(--gray);
  border-radius: 15px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.gui-input {
  border: none;
}
.field--content__input {
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 16px;
}
.ingreso,
.salida {
  display: flex;
  align-items: center;
}
.datapicker {
  max-width: 80px;
}
.button {
  padding: 20px;
  background-color: var(--red-1);
  border: 5px solid white;
  border-radius: 15px;
  margin-top: 30px;
  min-width: 100px;
  box-shadow: 12px 14px 21px -14px rgba(0, 0, 0, 0.76);
}
